body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}

header, footer, section, article {
    border: 1px solid grey;
    padding: 8px;
    background-color: white;
}

header, footer {
    color: white;
    background-color: #444;
    overflow: auto;
}

.headerMain {
    background: url(img/mainImg.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
}

section {
    background-color: #ddd;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 15px;
}

input[type=text] {
    width: 50%;
    height: 20px;
    font-size: 15px;
}

input[type=password] {
    width: 50%;
    height: 20px;
    font-size: 15px;
}

p {
    font-size: 15px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: aliceblue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.articleForTables {
    background-color: whitesmoke;
}

.imgSmall {
    width: 300px;
    height: 200px;
}

.imgBig {
    width: 600px;
    height: 400px;
}

.div1 {
    text-align: center;
    display: inline-block;
}

.div5 {
    text-align: right;
    float: right;
    display: inline-block;
    margin-right: 1%;
    height: auto;
}

.div2 {
    float: right;
}

.div4 {
    text-align: center;
    width: 350px;
    height: 250px;
    display: inline-block;
    outline: 2px solid grey;
    margin: 4px;
}

.semilayer {
    text-align: right;
    background: #444; /* Цвет фона */
    float: right;
    opacity: 0.8; /* Значение прозрачности */
}

.divHeader {
    margin-bottom: 30px;
    background-color: #444;
    opacity: 0.8;
    height: auto;
}

.div3 {
    /* background-color: #444;
     opacity: 0.8;
     height: auto;
       margin-bottom: 30px;*/
}

.divMenu {
    background-color: #444;
    height: auto;
    text-align: center;
    display: inline-block;
}

.buttonMenu {
    font-size: 20px;
    background-color: #444;
    color: white;
    font-weight: 600;
    border: none;
}

.buttonMenu:hover {
    color: lightblue;
}

.buttonMenu:active {
    color: aliceblue;
}

.divSubMenu {
    height: auto;
    text-align: center;
    display: inline-block;
}

.button {
    background-color: #444;
    color: white;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-top: 3px;
}

.button:hover {
    background: grey;
}

.button:active {
    background: white;
}

.buttonLocalReg {
    background-color: #444;
    color: white;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid white;
    border-radius: 1px;
    transition: 0.2s;
    margin-top: 3px;
}

.buttonLocalReg:hover {
    background: #444;
    border: 2px solid lightblue;
    color: lightblue;
}

.buttonLocalReg:active {
    background: lightblue;
    color: #444;
    border: 2px solid #444;

}

.buttonSignIn {
    background-color: #444;
    color: yellowgreen;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid yellowgreen;
    border-radius: 1px;
    transition: 0.2s;
    margin-top: 3px;
}

.buttonSignIn:hover {
    background: yellowgreen;
    color: #444;
}

.buttonSignIn:active {
    background: grey;
}

.buttonLogOut {
    background-color: #444;
    color: tomato;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid tomato;
    border-radius: 1px;
    transition: 0.2s;
    margin-top: 3px;
}

.buttonLogOut:hover {
    background: tomato;
    color: #444;
}

.buttonLogOut:active {
    background: grey;
}

.button2 {
    font-size: 18px;
    background-color: #ddd;
    color: #444;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

.button2:hover {
    background: #444;
    color: #ddd
}

.button2:active {
    background: white;
}

.buttonPurchase {
    font-size: 25px;
    background-color: yellowgreen;
    color: #444;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

.buttonPurchase:hover {
    background: #444;
    color: yellowgreen;
}

.buttonPurchase:active {
    background: white;
}

.buttonDelete {
    font-size: 25px;
    background-color: tomato;
    color: #444;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

.buttonDelete:hover {
    background: #444;
    color: tomato;
}

.buttonDelete:active {
    background: white;
}

.buttonSubMenu {

    font-size: 20px;
    background-color: lightblue;
    color: #444;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;

}

.buttonSubMenu:hover {
    background: #444;
    color: lightblue;
}

.buttonSubMenu:active {
    background: white;
}

.div4 {
    text-align: center;
    width: 350px;
    height: 250px;
    display: inline-block;
    outline: 2px solid grey;
    margin: 4px;
    background-color: white;
}

.divBigForPhoto {
    text-align: center;
    width: 600px;
    height: 400px;
    display: inline-block;
    outline: 2px solid grey;
    margin: 4px;
}

.divBigForDescription {
    text-align: center;
    background-color: white;
    width: 600px;
    height: 400px;
    display: inline-block;
    outline: 2px solid grey;
    margin: 4px;
}

.reg {
    background-color: #444;
    color: white;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-top: 3px;
}

.reg:hover {
    color: grey;
}

.reg:active {
    color: white;
}

.ref2 {
    align: center;
    font-size: 18px;
    background-color: white;
    color: #444;
    font-weight: 600;
    border: 2px solid;
    border-radius: 1px;
    text-decoration: none;
    user-select: none;
    outline: none;
    transition: 0.2s;
    margin-top: 3px;
}

.ref2:hover {
    color: black;
    background-color: #ddd;
}

.ref2:active {
    color: white;
}

.message {
    font-weight: 600;
}

.divOrders {
    border: 2px solid #444;

}

.divDateTime {
    border: 2px solid #444;
    background-color: aliceblue;
}

.divMsgWelcome {
    background-color: aliceblue;
    font-size: 23px;
}

.invalidMessage {
    color: red;
}

.helpMessage {
    color: blue;
}

.rightMessage {
    color: green;
}
